<!DOCTYPE html>
<html>
<head>
  <title>Shijia</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
    <%= render 'layouts/header' %>
	<div class="container">
	  <div class="main">
      <!--消息提醒-->
      <%= render partial: 'shared/flash',locals: { flash: flash }%>
	  </div>
	  <%= yield %>
	</div>

    <%= render 'layouts/footer' %>
</body>
</html>

  <%= yield :scripts %>
  <script type="text/javascript">
    <!--
    $(function(){
      //初始化
      sj.initial();
	  <%=yield :jquery %>
  });
  //-->
  </script>
